{% extends 'layouts/app.html' %}

    {% block main %}
        <div class="search">
            <div class="card shadow-sm mb-2">
                <div class="card-body">
                    <p>Please provide a city/address to get forecast</p>
                        <form action="" class="form-inline">
                            <div class="form-group mr-2">
                                <input type="text" name="search" class="form-control" placeholder="Location">
                            </div>
                            <button class="btn btn-primary">Search</button>
                        </form>
                    <div class="mt-2" id="content"></div>
                </div>
            </div>
        </div>

        <div class="forecast" id="todayForecast">
        </div>

        <div class="daily" id="daily">
        </div>
    {% endblock %}
